/* --- Base --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #0f172a;
  color: #e2e8f0;
  line-height: 1.6;
  overflow-x: hidden;
}



/* --- main Section --- */
.main {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10% 0% 0% 8%;
  background: radial-gradient(circle at top left, #1e3a8a, #0f172a);
  flex-wrap: wrap;
  position: relative;
}

.main-content {
  flex: 1;
  min-width: 300px;
  color: #fff;
  z-index: 2;
}

.main h2 {
  font-size: 3rem;
  margin-bottom: 15px;
}

.highlight {
  color: #facc15;
}

.typing-text {
  font-size: 1.4rem;
  margin-top: 5px;
  min-height: 35px;
  color: #e2e8f0;
}

.btn {
  margin-top: 25px;
  padding: 14px 30px;
  background: linear-gradient(90deg, #facc15, #fbbf24);
  color: #1e293b;
  text-decoration: none;
  border-radius: 40px;
  font-weight: bold;
  transition: transform 0.3s, box-shadow 0.3s;
  display: inline-block;
}
.btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 20px rgba(250, 204, 21, 0.6);
}

.about-btn{
  margin-left: 40px;
  padding: 13px 28px;
  background: linear-gradient(90deg, #30b0e7, #09a0e7);
  color: #1e293b;
  text-decoration: none;
  border-radius: 40px;
  font-weight: bold;
  transition: transform 0.3s, box-shadow 0.3s;
  display: inline-block;
}
.about-btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 20px #4a89a4;
}


/* --- Image --- */
.main-img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.main-img img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  border: 2.5px solid #38bdf8;
  background-color: #0000007d;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  transition: transform 0.4s ease;
}

.main-img img:hover {
  transform: scale(1.05);
}


.snake-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.snake-bg path.second {
  fill: none;
  stroke: rgba(56, 189, 248, 0.4);
  stroke-width: 1.5;
  stroke-dasharray: 600 100;
  animation: snakePath 6s linear infinite;
}

@keyframes snakePath {
  0% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: -700;
  }
}

/* --- icons --- */
.main-icons {
  display: flex;
  justify-content: center;
  padding-top: 20vh;
  padding-bottom: 5vh;
  flex-wrap: wrap;;
  z-index: 2;
  gap: 20px;
}

.tech-item {
  width: 100px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.tech-item img {
  max-width: 60%;
  max-height: 60%;
  object-fit: contain;
  transition: transform 0.3s ease;
  
}

.tech-item img:hover {
  cursor: pointer;
  transform: scale(1.08);
}

#django img{
  filter: drop-shadow(0.1px 0.1px 1px rgb(255, 255, 255));
}


/* --- Sections --- */
section {
  padding: 80px 20px;
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  font-size: 2em;
  color: #38bdf8;
}


.projects h2 {
  font-size: 2rem;
  color: #38bdf8;
  margin-bottom: 30px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
}

.project-card {
  position: relative;
  background: #1e293b;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(56, 189, 248, 0.4);
}

.project-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-bottom: #000 1px solid;
}

.project-info {
  padding: 15px;
  text-align: left;
}

.project-info h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #38bdf8;
}

.project-info p {
  font-size: 0.9rem;
  line-height: 1.5;
}

.project-card a {
  color: inherit;
  text-decoration: none;
  display: block;
}

.project-card a:hover h3 {
  color: #facc15;
}

.live-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #22c55e;
  color: white;
  padding: 4px 10px;
  font-size: 8px;
  border-radius: 4px;
  font-weight: 600;
  animation: liveBlink 1s infinite ease-in-out;
}

/* Subtle glowing animation */
@keyframes liveBlink {
  0% {
    opacity: 1;
  }
  50% {
    
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

/* --- Contact --- */

.contact-section {
  padding: 100px 20px;
  text-align: center;
  background: radial-gradient(circle at bottom, #17202f, #0f172a);
}

.contact-box h2 {
  font-size: 2.5rem;
  color: #38bdf8;
  margin-bottom: 15px;
}

.contact-box p {
  color: #cbd5e1;
  margin-bottom: 40px;
}

.contact-buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.contact-btn {
  padding: 14px 28px;
  border-radius: 40px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
  display: inline-block;
  min-width: 180px;
}

/* Email Button */
.email-btn {
  background: linear-gradient(90deg, #38bdf8, #2563eb);
  color: white;
}

.email-btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(56, 189, 248, 0.4);
}

/* WhatsApp Button */
.whatsapp-btn {
  background: #22c55e;
  color: white;
}

.whatsapp-btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(34, 197, 94, 0.4);
}
button.contact-btn {
  border: none;
  cursor: pointer;
}

/* --- Animation --- */
.fade-in {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}


/* --- Responsive Design --- */
@media (max-width: 900px) {
  .main {
    padding: 50px 20px;
    text-align: center;
  }

  .main h2 {
    font-size: 2.3rem;
  }

  .typing-text {
    font-size: 1.2rem;
  }
  .main-content a{
    margin-top: 22px;
    padding: 8px 23px;
    box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.647);
  }
  .main-img{
    margin: 40px 0;
  }

  .main-img img {
    width: 220px;
    height: 220px;
  }

  section {
    padding: 60px 15px;
  }

  .project-info p {
    font-size: 0.85rem;
  }

  footer {
    font-size: 0.85rem;
  }

  .snake-bg path {
    stroke-dasharray: 100 50;
  }
  .main-icons{
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .contact-buttons {
    flex-direction: column;
  }

  .contact-info h2 {
    font-size: 2rem;
  }
}